body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(53, 52, 52);
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.taskname {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}
.tableContent{
  height: 300px;
  overflow-y: auto;
}
table {
  background-color: rgb(219, 219, 219);
  border-radius: 5px;
  border-spacing: 0;
}
th {
  background-color: rgba(49, 47, 47, 0.781);
  color: white;
  padding: 5px;
  position: sticky;
  top:0;
}
td {
  padding: 15px;
}
.cardcontainer {
  background-color: rgb(212, 210, 210);
  height: 150px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  border-radius: 5px;
}
.dataname {
  font-size: 20px;
  color: rgb(138, 135, 135);
  margin: 0%;
}
.datavalue {
  font-size: 25px;
  font-weight: 600;
  margin: 0%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.datadate {
  color: rgb(138, 135, 135);
  margin: 0%;
}
